* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Lato", sans-serif;
	
	background-image: linear-gradient(120deg, rgb(252, 203, 144) 0%, rgb(213, 126, 235) 100%) ;
	height: 100vh;
}

h1,
h2,
h3 {
	color: rgb(54, 54, 54);
}

h3,
h4 {
	font-weight: 400;
	color: rgb(100, 100, 100);
}
.App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  /* --------------MY CSS------------- */
  .App {
	height: 100vh;
	position: relative;
  }
  .top-page button{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 60px;
	left: 25%;
	z-index: 2;
	opacity: 0;
	outline: none;
  }
  .top-page button:focus{
	border: none
  }
  .top-page .space{
	height: 90px;
  }
  .App .clock{
	display: flex;
  }
 
  .top-page{
	height: 75%;
  }
  .bottom-page{
	height: 25%;
  }
  .main{
	width: 100vw;
	height: 75vh;
	padding-top: 100px;
   
  }
  
  .container {
	width: 150px;
	height: 150px;
	perspective: 1000px;
	z-index: 1;
	margin: auto
  }
  .cube {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	position: relative;
	animation: spin 20s infinite linear;
  }
  
  .cube .face {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid #fff;
  }
  
  .cube .face img {
	width: 100%;
	height: 100%;
  }
  
  .cube .front {
	transform: rotateX(180deg) translateZ(74px);
  }
  
  .cube .back {
	transform: rotateX(0deg) translateZ(74px);
  }
  
  .cube .right {
	transform: rotateX(90deg) translateZ(74px);
  }
  
  .cube .left {
	transform: rotateX(-90deg) translateZ(74px);
  }
  
  .cube .top {
	transform: rotateY(90deg) translateZ(74px);
  }
  
  .cube .bottom {
	transform: rotateY(-90deg) translateZ(74px);
  }
  .cube .front, .cube .back, .cube .right, 
  .cube .left, .cube .top, .cube .bottom{
	transition: 1s ease-in-out
  }
  @keyframes spin {
	from {
		transform: rotateX(25deg) rotateY(0deg);
	}
  
	to {
		transform: rotateX(25deg) rotateY(360deg);
	}
  }
  
  .myButton{
	transform: translateY(-200px);
  }
  .frontS,.backS,.rightS,.leftS,.topS,.bottomS{
	overflow: hidden;
	border-radius: 10px;
  }
  .frontS{
	transform: rotateX(180deg) translateZ(100px) !important;
  }
  .backS{
	transform: rotateX(0deg) translateZ(100px)!important;
  }
  .rightS{
	transform: rotateX(90deg) translateZ(100px)!important
  }
  .leftS{
	transform: rotateX(-90deg) translateZ(100px) !important
  }
  .topS{
	transform: rotateY(90deg) translateZ(100px)!important
  }
  .bottomS{
	transform: rotateY(-90deg) translateZ(100px)!important
  }
  .myButton{
	position: absolute;
	top:40%;
	left: 15%;
	opacity: 0;
	width: 70%;
	height: 30%;
	z-index: 2;
  }
  
  .date-counter{
	width: 100vw;
	height: 100%;
	padding-top: 100px
  }
  .date-counter #wrapper #info{
	display: flex;
	flex-direction: row;
  }
  
  
  .footer{
	height: 25vh;
	padding-top: 80px
  }
